<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="monetization" content="$ilp.uphold.com/frU6BJBrQAWx">

	<script>
		const mon = document.monetization;
		function addEvent(e, t, f) {
			e.addEventListener(t, f);
		}
		let isP = false;
		if (mon) {
			addEvent(mon, 'monetizationstart', () => {
				isP = true;
			});
		}
	</script>
	{{#if css}}
	<style>
		{{{ css }}}
	</style>
	{{else}}
	<link rel="stylesheet" href="main.css">
	{{/if}}
</head>

<body>
	<div id="game">
		<div id="gui" class="block">
			<div id="goldBlock">
				<div id="playerGold">
					<span id="a"></span>
					<span id="b"></span>
				</div>
			</div>
			<div class="c" id="d">
				<span style="margin-top: 7px; color: #aaa;">lvl 10</span>
			</div>
			<button id="e">
				<strong>Reset</strong>
				<span class="info">Become Stronger!</span>
			</button>
			<div id="playerLevelBlock">
				<div id="playerLevel">
					<span id="playerCurrentLevel"></span>
					<span id="f"></span>
				</div>
			</div>
		</div>
		<div class="content" id="battle">
			<a href="#" id="premiumSwitch">
				<div id="premiumSwitchLock">
					<svg viewBox="0 0 64 64"><path d="M50 21c0-10-8-19-18-19s-18 8-18 19v9h6v-9c0-7 5-12 12-12s12 5 12 12zM11 32c-2 3-3 6-3 10 0 11 11 20 24 20s24-9 24-20c0-4-1-7-3-10zm21 3c3 0 5 2 5 5 0 2-1 4-3 5l4 12H26l4-12a5 5 0 012-10z"/></svg>
				</div>
				<div id="normalIcon"></div>
				<div id="premiumIcon"></div>
			</a>
			<div id="battleBlock" class="block">
				<div id="stage">
					<span id="stageCurrent"></span>
				</div>
				<div id="enemy" style="margin-bottom: 2rem"></div>
				<div id="player"></div>
			</div>
			<button class="block" id="attack"></button>
		</div>
		<div class="content" id="skills">
			<div class="block">
				<div id="attributeBlock">
					<span id="attributeMessage">Stats</span>
					<div id="attributes">
						<button class="attribute block" id="attackAttribute">
							<span>Attack</span>
							<strong id="attackAttributeValue">0</strong>
							<svg viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
						</button>
						<button class="attribute block" id="defenseAttribute">
							<span>Defense</span>
							<strong id="defenseAttributeValue">0</strong>
							<svg viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
						</button>
					</div>
				</div>
				<span id="skillTitle">Skills</span>
				<div id="skillLock" class="lock">
					<div class='c'>
						<span>lvl 6</span>
					</div>
				</div>
				<div id="buyOptions">
					<a href="#" class="buyOption" data-id="1">x1</a>
					<a href="#" class="buyOption" data-id="10">x10</a>
					<a href="#" class="buyOption" data-id="50">x50</a>
					<a href="#" class="buyOption" data-id="99999999">MAX</a>
				</div>
			</div>
		</div>
		<div class="content" id="morality">
			<div class="block">
				<h1>Morality</h1>
				<p>Sorry! About to overflow the size limit!</p>
				<p>I'm working on new and more unique Units, Skills, Mechanics, and so much MORE!</p>
				<p>Enjoyed the game so far?</p>
				<ul>
					<li>Join my <a href="https://discord.gg/zGnXGtY" target="_blank">Discord</a></li>
					<li><a href="https://martintale.com/about-me#message-me?ref=soul-not-found" target="_blank">Message Me</a> directly</li>
					<li>or <a href="https://ko-fi.com/martintale?ref=soul-not-found" target="_blank">Buy me a Coffee</a>!</li>
				</ul>
				<p class="hide-mobile">Thanks for playing, <br><a href="https://martintale.com?ref=soul-not-found" target="_blank">Martin Tale</a></p>
			</div>
		</div>
		<div class="content" id="trophies">
			<div class="block">
				<h1 id="trophyTitle"></h1>
				<p id="trophyBonus">Global <strong id="trophyBonusAmount"></strong> Bonus</p>
				<ul id="trophyList"></ul>
			</div>
		</div>
		<div class="block" id="nav">
			<a href="#" id="navBattle" class="unlocked active">
				<span>Battle</span>
			</a>
			<a href="#" id="navSkills">
				<span>Skills</span>
				<div class='c'>
					<span>lvl 2</span>
				</div>
				<div class="notification"></div>
			</a>
			<a href="#" id="navMorality">
				<span>Morality</span>
				<div class='c'>
					<span>lvl 30</span>
				</div>
			</a>
			<a href="#" id="navTrophies" class="unlocked">
				<span>Trophies</span>
				<div class="notification"></div>
			</a>
		</div>
		<div id="popup" class="block">
			<p id="popupContent"></p>
			<button id="popupButton">OK</button>
		</div>
	</div>
	{{#if js}}
	<script>
		{{{ js }}}
	</script>
	{{else}}
	<script src='main.js'></script>
	{{/if}}
</body>

</html>
